body {
    background-image: linear-gradient(to right, rgb(0, 162, 255), white, white, white, rgb(0, 162, 255));

    color: rgb(0, 162, 255) !important;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 1.6em;
    text-align: center;
}

h1 {
    margin-top: auto;
    margin-bottom: 0%;
}

h2 {
    color: white;

    font-size: 3.6em;

    height: 90%;

    margin-bottom: auto;
    margin-top: auto;

    position: absolute;

    text-orientation: sideways;
    writing-mode: sideways-lr;
}

#ingredients-grid {
    display: grid;
    gap: 60px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    justify-content: space-between;

    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

    height: 0;
    width: 50vw;
}

#first-ingredient {
    grid-column: 1;
    grid-row: 1;
}

#second-ingredient {
    grid-column: 2;
    grid-row: 1;
}

#third-ingredient {
    grid-column: 3;
    grid-row: 1;
}

#fourth-ingredient {
    grid-column: 1;
    grid-row: 2;
}

#fifth-ingredient {
    grid-column: 2;
    grid-row: 2;
}

#sixth-ingredient {
    grid-column: 3;
    grid-row: 2;
}

#seventh-ingredient {
    grid-column: 1;
    grid-row: 3;
}

#eighth-ingredient {
    grid-column: 2;
    grid-row: 3;
}

#ninth-ingredient {
    grid-column: 3;
    grid-row: 3;
}

#first-ingredient,
#second-ingredient,
#third-ingredient,
#fourth-ingredient,
#fifth-ingredient,
#sixth-ingredient,
#seventh-ingredient,
#eighth-ingredient,
#ninth-ingredient {
    align-self: center;
}

.ingredient-image {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

    max-height: 100%;
    max-width: 100%;
}

#collected-samples-title {
    color: white;
    font-size: 1.5em;

    float: right;

    margin-bottom: 0;
    margin-left: auto;
    margin-right: 1.6vh;
    margin-top: auto;

    height: 6vh;
}

.space {
    float: right;

    height: 10vh;
    width: 70vw;
}

.collected-data {
    float: right;

    height: 10vh;
    width: 18vw;
}

.sample {
    float: left;

    vertical-align: middle;

    height: auto;
    width: 36%;
}

.arrow {
    color: white;

    float: center;

    vertical-align: middle;
}

.label {
    float: right;

    vertical-align: middle;

    height: auto;
    width: 36%;
}
